html { height: 100%; background-color: #fff; }
body { font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 24px; color: #777777; height: 100%; width: 100%; }
body .main-container {
    background-color: #fff; position: relative; z-index: 3;
}
body .wrapper { position: relative; height: 100%; width: 100%; }
a, .button { transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; color: #333333; }
a:focus { text-decoration: none; }
a:focus, a:hover { color: #31d181; text-decoration: none; }
a, .button, input { outline: medium none; color: #31d181; }
h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; font-weight: normal; color: #333333; margin-top: 0px; margin-bottom: 0px; line-height: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; font-family: 'Raleway', sans-serif; }
h1 { font-size: 56px; font-style: normal; }
h2 { font-size: 40px; font-style: normal; }
h3 { font-size: 36px; font-style: normal; }
h4 { font-size: 22px; font-style: normal; }
h5 { font-size: 26px; font-style: normal; }
h6 { font-size: 22px; font-style: normal; }
.lead { font-size: 16px; margin: 0; }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
hr { margin: 0; padding: 0px; border-bottom: 1px solid #e0e0e0; border-top: 0px; }
label { font-size: 15px; font-weight: 400; color: #aaaaaa; }
.label { color: #fff; font-size: 9px; }
blockquote { border-left: 5px solid #31d181; font-size: 16px; }
*::-moz-selection { background: #31d181; color: #fff; text-shadow: none; }
::-moz-selection { background: #31d181; color: #fff; text-shadow: none; }
::selection { background: #31d181; color: #fff; text-shadow: none; }
.valign, .valign > [class*='col-'] { display: table-cell; float: none; }
[data-valign-overlay="top"] { vertical-align: top; }
[data-valign-overlay="bottom"] { vertical-align: bottom; }
[data-valign-overlay="middle"] { vertical-align: middle; }
.no-gutter > [class*='col-'] { padding-right: 0; padding-left: 0; }
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.no-padding { padding: 0px !important; }
.no-border { border: none !important; }

.main-title { position: relative; }
.main-title small { background: #333333; color: #fff; padding: 5px 10px; font-size: 13px; }
.main-title h1, .content-deta .main-title h1 { font-size: 38px; }

.title { position: relative; margin: 15px 0 15px; padding: 0 0 10px; font-size: 26px; }
.title:before { content: ""; position: absolute; bottom: 0; left: 0; width: 50px; height: 2px; display: inline-block; background: rgba(28, 202, 162, 1); background: -moz-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28, 202, 162, 1)), color-stop(100%, rgba(49, 209, 129, 1))); background: -webkit-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: -o-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: -ms-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: linear-gradient(to right, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ccaa2', endColorstr='#31d181', GradientType=1); }

.button { color: #1a2f56; padding: 10px 20px; font-weight: 600; font-size: 14px; border: none; position: relative; border: 2px solid #1a2f56; display: inline-block; text-transform: uppercase; background: transparent; }
.button:hover, .button:focus { color: #fff; border-color: #1a2f56; background: #1a2f56; }

.iq-font-purple { color: #3941d5; }

.white-bg { background: #ffffff; }
.purple-bg { background: rgba(28, 202, 162, 1); background: -moz-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28, 202, 162, 1)), color-stop(100%, rgba(49, 209, 129, 1))); background: -webkit-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: -o-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: -ms-linear-gradient(left, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); background: linear-gradient(to right, rgba(28, 202, 162, 1) 0%, rgba(49, 209, 129, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ccaa2', endColorstr='#31d181', GradientType=1); }

.purple-bg{
    background-color: #1a2f56;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.iq-bg { background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; }
.iq-bg-fixed { background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; background-attachment: fixed !important; }


header { display: inline-block; width: 100%; position: relative; }
header .navbar.navbar-light { padding: 0; margin: 0; margin-right:2em; }
header .navbar.navbar-light .navbar-brand { padding: 15px 0 15px 50px; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
header .navbar.navbar-light .navbar-nav { padding-right: 30px; }
header .navbar.navbar-light .navbar-nav .nav-link { color: #333333; font-size: 16px; padding: 5px 20px; position: relative; text-transform: capitalize; }
header .navbar.navbar-light .navbar-nav .nav-item.active .nav-link { background: #1a2f56; color: #fff; border: 2px solid #1a2f56; }
header .navbar.navbar-light .navbar-brand img { height: 55px; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }

.iq-home { margin-left: -200px; height: 670px; overflow: scroll; overflow: auto; padding: 0 20px; }
.boder-img { position: relative; width: 87%; -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.1); box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.1); }
.boder-img:before { position: absolute; content: ""; top: -30px; right: -30px; height: 100%; width: 100%; border: 15px solid #1a2f56; display: inline-block; z-index: -1; }
.content-deta { padding: 60px 40px 0 5px; }
.content-deta h1 { font-weight: 800; color: #333333; margin: 0px; line-height: normal; font-size: 54px; }
.content-deta #typer { height: 65px; margin: 10px 0; }
.content-deta h1.iq-font-purple { color: #31d181; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}